<a href="https://colab.research.google.com/github/Tio6536/Dataset-UTS-Bigdata/blob/main/IMANUEL_TIO_2401959194_BIGDATAFIN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark py4j

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Spark") \
    .getOrCreate()
sc = spark.sparkContext

In [ ]:
!wget https://raw.githubusercontent.com/Tio6536/Dataset-UTS-Bigdata/main/Table1.csv

In [4]:
path1 = "Table1.csv"

In [5]:
df1=spark.read.option("delimiter", ",").option("header", "true").csv(path1)

In [ ]:
!wget https://raw.githubusercontent.com/Tio6536/Dataset-UTS-Bigdata/main/Table2.csv

In [7]:
path2 = "Table2.csv"

In [8]:
df2=spark.read.option("delimiter", ",").option("header", "true").csv(path2)

In [9]:
df1.createOrReplaceTempView("DF1")
df2.createOrReplaceTempView("DF2")

In [10]:
Result=spark.sql("select t1.user_id_sender as user_id_sender,t2.age as age_sender,t2.gender as gender_sender,t1.user_id_recipient as user_id_recipient,t3.age as age_recipient,t3.gender as gender_recipient,t1.image_id as image_id,t1.like from df1 t1 , df2 t2, df2 t3 where t1.user_id_sender==t2.user and t3.user==t1.user_id_recipient")

In [11]:
Result.write.option("header","True").csv("FinalResult")

In [12]:
Path3="FinalResult"

In [13]:
df3=spark.read.option("delimiter", ",").option("header", "true").csv(Path3)

In [15]:
df3.show()

+--------------+----------+-------------+-----------------+-------------+----------------+--------+----+
|user_id_sender|age_sender|gender_sender|user_id_recipient|age_recipient|gender_recipient|image_id|like|
+--------------+----------+-------------+-----------------+-------------+----------------+--------+----+
|       user002|        30|         Male|          user001|           28|          Female|image001|   1|
|       user003|        18|       Female|          user001|           28|          Female|image001|   1|
|       user004|        40|         Male|          user001|           28|          Female|image001|   0|
|       user005|        30|       Female|          user001|           28|          Female|image001|   0|
|       user002|        30|         Male|          user001|           28|          Female|image002|   1|
|       user003|        18|       Female|          user001|           28|          Female|image002|   1|
|       user004|        40|         Male|          user001|           28|          Female|image002|   1|
|       user005|        30|       Female|          user001|           28|          Female|image002|   1|
|       user001|        28|       Female|          user002|           30|            Male|image003|   0|
|       user003|        18|       Female|          user002|           30|            Male|image003|   1|
|       user004|        40|         Male|          user002|           30|            Male|image003|   1|
|       user005|        30|       Female|          user002|           30|            Male|image003|   1|
+--------------+----------+-------------+-----------------+-------------+----------------+--------+----+